<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- Define your beans here -->
    <bean id="circle" class="AOP.Circle">
        <property name="name" value="Circle name"/>
    </bean>
    <bean id="triangle" class="AOP.Triangle">
        <property name="name" value="Triangle name"/>
    </bean>
<bean id="shapeService" class="AOP.ShapeService" autowire="byName"/>
    <!-- Define an aspect -->


</beans>
